@use "../settings/card-feature";

/*-------------------------------------------------*\
  #COMPONENTS-CARD-BLOCK
  Application de la structure et disposition global des cards features
\*---------------------------------------------------*/

/*
 * Structure principale des cards par défaut
 */
.card-feature {
  display: card-feature.$display;
  flex-direction: card-feature.$flex-direction;
  justify-content: card-feature.$justify-content;
  padding: card-feature.$padding;
  color: card-feature.$color;
}

.card-feature div .button:hover,
.card-feature div .button:focus {
  background: card-feature.$s-button-background;
  color: card-feature.$s-button-color;
  outline: card-feature.$s-button-outline;
}

.card-feature h3 {
  color: rgba(255, 255, 255, 1);
}

/*-------------------------------------------------*\
  #COMPONENTS-CARD-FEATURES-MODIFIER
  Style des elements se trouvant au sein des cartes
\*---------------------------------------------------*/


.card-feature--primary-very-dark-cyan {
  background-color: #004241;
}

.card-feature--primary-dark-cyan {
  background-color: #006970;
}


